@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", sans-serif;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.page-layout {
  @apply bg-surface-100 min-h-screen;
}

.header {
  @apply text-center bg-surface-200 p-6 text-2xl font-semibold tracking-wide border-b-4 border-surface-300  w-full
  text-balance line-clamp-2;
}

.regular-button {
  @apply px-6 py-2 rounded-md font-semibold bg-surface-200 text-base-light;
}

#waveform ::part(region) {
  background-color: rgb(var(--main-color-rgb), 0.3);
  pointer-events: none;
}

#waveform ::part(region-handle-left),
#waveform ::part(region-handle-right) {
  @apply bg-primary-100 opacity-100 w-1 border-none;
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}

:root {
  --range-thumb-size: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  padding: 5px 0; /* space for thumb */
  border-radius: 3px;
  cursor: pointer;
  @apply bg-primary-200;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks span {
  display: flex;
  justify-content: center;
  width: 1px;
  height: 10px;
  background: #d3d3d3;
  line-height: 40px;
  margin-bottom: 50px;
}

/* WebKit thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  border-radius: 50%;
  @apply bg-primary-100;
  border: none;
  margin: 0; /* use padding to center */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  border-radius: 50%;
  @apply bg-primary-100;
  border: none;
  margin: 0;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-progress {
  @apply bg-primary-100;
  height: 6px;
  border-radius: 3px;
}
